/* CSS For myStevens variant of OA */
.pane-oa-navigation{
  display: none;
}

body{
  padding-top: 0px;
  font: 1.1em Verdana, "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
}

body #main-wrapper{
  margin: 0px 0px -100px;
}

body a{
  text-decoration: underline;
}

#header{
  padding: 0px 0px 10px 0px;
}

#header .row {
  margin-top:10px;
}

/*#header{
  padding: 1px 0px 0px 0px;
  background-clip: content-box;
  border: 5px solid #FFFFFF;
  border-top: 5px solid #000000;
  height: 97px;

}*/

#oa-responsive-regions-navbar {
  display: none;
}

.item-list ul li,
#cal ul li,
#view-all-events {
    padding-top: 5px;
}

.mystevens-list-item,
#cal ul li{
  list-style-image: url("../images/dot.gif");
}

.mystevens-list-item a,
#cal ul li a,
#view-all-events a{
  color: #990000;
}

.mystevens-list-item a:hover,
#cal ul li a:hover,
#view-all-events a:hover{
  color: #afafaf;
}

#mystevens-section-body ul {
  margin: 0px 0px 10px 16px;
}

#cal ul {
  margin: 0px 0px 10px 16px;
}

/*.views-field-title {
  float: left;
  padding: 3px;
}*/

.mystevens-icon-fluid-grid a {
  color: #990000;
    text-decoration: none;
}

.mystevens-icon-fluid-grid a:hover{
  color: #afafaf;
}

.mystevens-icon-fluid-grid .view-content li.views-row {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  width: 111px;
  margin: 8px 6px !important;
  text-align: center;
}

.mystevens-section-header{
  background-color:#718faf;
  font-family: Verdana;
  font-size: 12px;
  height: 21px;
  color: #FFF;
  font-weight: bold;
  padding: 2px 0 6px 5px;
  margin: 0px 0px 0px 0px;
}

.view-mystevens .view-content,
.view-mystevens-orgsync-ugrad-events .view-content,
#cal,
.mystevens-section-body {
  border: 1px solid;
  border-color: #afafaf;
  padding: 5px 0px 0px 10px;
}

.oa-banner{
  width: 90%;
  float: left;
}

.login-cont{
  width: 10%;
  float: right;
  text-align: right;
}

.login-link{
  color: #FFF;
  font-size: 16px;
}

.login-link:hover{
  text-decoration: underline;
  color: #AFAFAF;
  font-size: 16px;
}

img.campus-service-icon {
  height: 26px;
  width: auto;
}

/*IT Site */
.myButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #b00038;
  -webkit-box-shadow: inset 0px 1px 0px 0px #b00038;
  box-shadow: inset 0px 1px 0px 0px #b00038;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #87133a), color-stop(1, #b00038));
  background: -moz-linear-gradient(top, #87133a 5%, #b00038 100%);
  background: -webkit-linear-gradient(top, #87133a 5%, #b00038 100%);
  background: -o-linear-gradient(top, #87133a 5%, #b00038 100%);
  background: -ms-linear-gradient(top, #87133a 5%, #b00038 100%);
  background: linear-gradient(to bottom, #87133a 5%, #b00038 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87133a', endColorstr='#b00038',GradientType=0);
  background-color: #87133a;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #7d002a;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 18px;
  padding: 23px 52px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
  margin: 20px 0px 35px 0px;
}
.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b00038), color-stop(1, #87133a));
  background: -moz-linear-gradient(top, #b00038 5%, #87133a 100%);
  background: -webkit-linear-gradient(top, #b00038 5%, #87133a 100%);
  background: -o-linear-gradient(top, #b00038 5%, #87133a 100%);
  background: -ms-linear-gradient(top, #b00038 5%, #87133a 100%);
  background: linear-gradient(to bottom, #b00038 5%, #87133a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b00038', endColorstr='#87133a',GradientType=0);
  background-color: #b00038;
}
.myButton:active {
  position: relative;
  top: 1px;
}


/* Fixed Width */
.container-fluid {
  width: 825px ;
}

#oa-navbar {
  width: 825px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  width: 830px;
  margin-left: auto;
  margin-right: auto;
}

.mystevens-bar {
    clear: both;
    font-size: 1.1em;
    height: 10px;
    color: #FFF;
    margin: 0 0 0 0px;
    background: #A32638 !important;
    margin-bottom: 2px;
}

.mystevens-footer {
    clear: both;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
    border-top: 1px solid #ccc;
    line-height: 1.8em;
    width: 100%;
}

#oa-navbar .pane-stevens-oa-header-user-old .pane-content {
  text-align:right;
  margin: 32px 25px 0 0;
}

#welcome {
  text-align:right;
  margin: 14px 25px 0 0;
  font-size:11px;
}

#oa-navbar .pane-stevens-oa-header-user-old .pane-content p {
  line-height:1.75em;
}

#welcome p {
  line-height:1.75em;
}

#oa-navbar::before,
#header::before {
  content: '';
  display: block;
  font-size: 0;
  height: 0px;
  padding: 3px;
  color: #000;
  background-color: #000;
  z-index: 1000;
  border-top: 2px #fff solid;
  border-bottom: 1px #fff solid;
}

.pane-stevens-oa-header-user-old a:link,
.pane-stevens-oa-header-user-old a:visited,
.pane-stevens-oa-header-user-old a:active,
.pane-stevens-oa-header-user-old a:hover,
#welcome a:link,
#welcome a:visited,
#welcome a:active,
#welcome a:hover {
  color: #fff;
}

.oa-banner {
  opacity: 1 !important;
}

.view-mystevens .view-content,
.view-mystevens-orgsync-ugrad-events
.view-content, #cal,
.mystevens-section-body {
  border-color: #DBE7E2
}
 
.mystevens-section-header {
  line-height: 21px;
  padding: 0 0 0 5px;
}
 
.content .panel-pane {
  padding-bottom: 0px;
  margin-bottom: 3px;
}
 
#signout a,
#welcome p a {
  text-decoration: none;
}
 
.oa-banner-slogan {
  display: none;
}
