body,
body.overlay {
  color: #3b3b3b;
  background-color:#ffffff;
}
.comment .comment-arrow {
  border-color: #ffffff;
}

#main-wrapper #main {
  background-color:#ffffff;
  padding: 5px;
}

#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.form-actions {
  background-color: #ffffff;
}
a {
  color: #0073b6;
}
a:hover,
a:focus {
  color: #008fe2;
}
a:active {
  color: #22aeff;
}
#header,
.navbar-inner,
.navbar-inner .panel-panel,
.navbar-inverse .navbar-inner {
  background-color: #a32638;
  background-image: -moz-linear-gradient(top, #a32638, #a32638);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a32638), to(#a32638));
  background-image: -webkit-linear-gradient(top, #a32638, #a32638);
  background-image: -o-linear-gradient(top, #a32638, #a32638);
  background-image: linear-gradient(to bottom, #a32638, #a32638);
  border: none;
  box-shadow: none;
  color: #ffffff;
}
.navbar-inner .btn,
.navbar-inverse .btn.btn-inverse,
.btn-group > .btn .dropdown-toggle,
#oa-user-badge .user-badge {
  background-color: #464646;
  background-image: -moz-linear-gradient(top, #a32638, #464646);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a32638), to(#464646));
  background-image: -webkit-linear-gradient(top, #a32638, #464646);
  background-image: -o-linear-gradient(top, #a32638, #464646);
  background-image: linear-gradient(to bottom, #a32638, #464646);
  box-shadow: none;
  border-color: #464646;
  color: #ffffff;
}
.oa-space-menu .navbar-inner {
  background-image: none;
  background-color: #a32638;
  color: #ffffff;
}
.navbar .oa-space-menu .nav li.first {
  margin-left: 2px;
}
.navbar .oa-space-menu .nav li.active {
  background: #ffffff;
  border-top-left-radius: .75em;
  border-top-right-radius: .75em;
}
.navbar .oa-space-menu .nav li.active a {
  color: #a32638;
}
.navbar .oa-space-menu .nav li > a {
  color: #ffffff;
}
.navbar-inverse ul#oa_breadcrumb .btn.btn-inverse,
.navbar-inner ul#oa_breadcrumb .btn,
.navbar-inverse #oa-user-badge .user-badge,
.navbar-inverse #toolbar-menu-button {
  color: #ffffff;
}
.navbar-inverse .nav > li > a,
.navbar .nav > li > a {
  color: #ffffff;
  background-color: transparent !important;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  color: #22aeff;
}
.navbar .nav > .active > a:hover,
.navbar .nav > li > a:hover {
  color: #008fe2;
}
ul#oa_breadcrumb a.dropdown-toggle.btn.btn-inverse,
.navbar-inner a.dropdown-toggle.btn {
  background-color: #464646 !important;
}
#oa-navbar .panel-panel .panel-pane {
  border-color: #464646 ! important;
}
.navbar-inverse ul#oa_breadcrumb .btn.btn-inverse .caret,
.navbar-inner .caret {
  border-top: 6px solid #ffffff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
#oa-navbar-admin li a {
  color: #ffffff;
  background-color: transparent !important;
}
.sidebar .block {
  background-color: #ffffff;
  border-color: #e3e3e3;
}
#page-wrapper,
#footer-wrapper,
body #footer {
  background-color: #161617;
}

#page-wrapper a,
#footer-wrapper a,
body #footer a {
  color: #ffffff;
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #ffffff;
}
.oa-banner-overlay,
.oa-banner-slogan-overlay {
  color: #ffffff;
}
.oa-banner-text,
.oa-banner-slogan {
  color: #ffffff;
}
.oa-pane .pane-title {
  color: #3b3b3b;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}
.oa-pane .panel-pane,
.oa-callout {
  color: #3b3b3b;
  background-color: #ffffff;
  border-color: #e3e3e3;
}
.oa-pane {
  border-color: #e3e3e3;
}
#oa-navbar .panel-panel .pane-oa-navigation,
#oa-navbar .panel-panel .pane-oa-mobile,
#oa-navbar .panel-panel .pane-oa-space-banner {
  background-color: #a32638;
}
#oa-navbar .panel-panel .pane-oa-navigation .dropdown-menu,
#oa-navbar .panel-panel .pane-oa-mobile .dropdown-menu {
  background-color: #a32638;
}

#oa-navbar .panel-panel .pane-oa-navigation li > a,
#oa-navbar .panel-panel .pane-oa-mobile li > a,
#oa-navbar .panel-panel .pane-oa-space-banner li > a {
  color: #ffffff;
}

#oa-navbar-spaces ul.dropdown-menu .item-list h3 {
  color: #ffffff;
}
