// Styles for Forms
// --------------------------------------------------

#node-edit .form-actions input {
  background-color: white;
  color: #333;
  border-color: #C1C1C1;
}

form .form-actions {
  background-color: transparent;
}

form.search-form .form-item {
  margin-top: 0;
}

.field-widget-text-textarea-with-summary, .field-widget-text-textarea {
  .format-toggle {
    position: static;
    width: 20rem;
    max-width: 100%;
  }
}
