.search-term-highlight {
  color: #A32638;
  font-style: italic;
  font-weight: bold;
}

.toolbar-search {
  .dropdown-toggle {
    display:none;
  }

  .dropdown-menu {
    display: none;
  }
}

#people-finder-iframe {
  height: 500px;
  width: 100%;
}

body.page-search-site .panel-display #main .oa-horizontal-slice .pane-content .ui-tabs {
  top: 50px;

  .ui-tabs-panel {
    .search-results {
      .search-result {
         a {
           color: $myRed;
         }
      }
    }
  }

  .ui-tabs-nav {
    border-bottom: 0px;
    position: relative;
    top: -39px;
    left: -5px;

    .ui-tabs-active {
      a {
        height: 37px;    
      }
    }
  }
}
