// Mixin
// SASS Mixins
// --------------------------------------------------

// Breakpoints
// --------------------------------------------------
@mixin breakpoint($point) {
  @if $point == lg {
    @media (min-width: $desktopMin) { @content; }
  }
  @else if $point == md {
    @media (min-width: $tabletMin) and (max-width: $tabletMax) { @content; }
  }
  @else if $point == sm {
    @media (min-width: $mobileMin) and (max-width: $mobileMax) { @content; }
  }
  @else if $point == xs {
    @media (max-width: $mobileMin)  { @content; }
  }
}
