/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
.navbar {
  background-image: linear-gradient(#54b4eb, #2FA4E7 60%, #1d9ce5);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF54B4EB', endColorstr='#FF1D9CE5', GradientType=0);
  border-bottom: 1px solid #178acc;
  filter: none;
  box-shadow: compact(0 1px 10px rgba(0, 0, 0, 0.1), false, false, false, false, false, false, false, false, false);
}

.navbar .navbar-nav > li > a {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.navbar-inverse {
  background-image: linear-gradient(#04519b, #044687 60%, #033769);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF04519B', endColorstr='#FF033769', GradientType=0);
  filter: none;
  border-bottom: 1px solid #022241;
}

.btn {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.btn .caret {
  border-top-color: #fff;
}

.btn-default {
  background-image: linear-gradient(white, #fff 60%, whitesmoke);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF5F5F5', GradientType=0);
  border-bottom: 1px solid #e6e6e6;
}

.btn-default:hover {
  color: #555555;
}

.btn-default .caret {
  border-top-color: #555555;
}

.btn-default {
  background-image: linear-gradient(white, #fff 60%, whitesmoke);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF5F5F5', GradientType=0);
  border-bottom: 1px solid #e6e6e6;
}

.btn-primary {
  background-image: linear-gradient(#54b4eb, #2FA4E7 60%, #1d9ce5);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF54B4EB', endColorstr='#FF1D9CE5', GradientType=0);
  border-bottom: 1px solid #178acc;
}

.btn-success {
  background-image: linear-gradient(#88c149, #73A839 60%, #699934);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF88C149', endColorstr='#FF699934', GradientType=0);
  border-bottom: 1px solid #59822c;
}

.btn-info {
  background-image: linear-gradient(#04519b, #033C73 60%, #02325f);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF04519B', endColorstr='#FF02325F', GradientType=0);
  border-bottom: 1px solid #022241;
}

.btn-warning {
  background-image: linear-gradient(#ff6707, #DD5600 60%, #c94e00);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF6707', endColorstr='#FFC94E00', GradientType=0);
  border-bottom: 1px solid #aa4200;
}

.btn-danger {
  background-image: linear-gradient(#e12b31, #C71C22 60%, #b5191f);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE12B31', endColorstr='#FFB5191F', GradientType=0);
  border-bottom: 1px solid #9a161a;
}

h1, h2, h3, h4, h5, h6 {
  color: #317EAC;
}

.pagination .active > a,
.pagination .active > a:hover {
  border-color: #ddd;
}

.panel-primary .panel-title {
  color: #fff;
}

.panel-success .panel-heading {
  background-color: #73A839;
  color: #fff;
}

.panel-success .panel-title {
  color: #fff;
}

.panel-warning .panel-heading {
  background-color: #DD5600;
  color: #fff;
}

.panel-warning .panel-title {
  color: #fff;
}

.panel-danger .panel-heading {
  background-color: #C71C22;
  color: #fff;
}

.panel-danger .panel-title {
  color: #fff;
}

.panel-info .panel-heading {
  background-color: #033C73;
  color: #fff;
}

.panel-info .panel-title {
  color: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.mceContentBody, .mceContentBody p, .mceContentBody ol, .mceContentBody ul {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  color: #60616d;
  font-size: 16px;
  margin: 0;
  margin-bottom: 1em !important;
}

.pane-page-content .field-type-text-with-summary .field-item p, .pane-page-content .field-type-text-with-summary .field-item ol, .pane-page-content .field-type-text-with-summary .field-item ul,
.pane-page-content .field-type-text-long .field-item p,
.pane-page-content .field-type-text-long .field-item ol,
.pane-page-content .field-type-text-long .field-item ul,
.pane-page-content .paragraphs-item-paragraph-snippet p,
.pane-page-content .paragraphs-item-paragraph-snippet ol,
.pane-page-content .paragraphs-item-paragraph-snippet ul,
.pane-page-content .paragraphs-item-paragraph-content p,
.pane-page-content .paragraphs-item-paragraph-content ol,
.pane-page-content .paragraphs-item-paragraph-content ul,
.pane-page-content .oa-event-description p,
.pane-page-content .oa-event-description ol,
.pane-page-content .oa-event-description ul,
.pane-page-content .oa-news-body p,
.pane-page-content .oa-news-body ol,
.pane-page-content .oa-news-body ul {
  margin: 0;
  margin-bottom: 1em !important;
}

.pane-page-content .field-type-text-with-summary .field-item, .pane-page-content .field-type-text-with-summary .field-item p, .pane-page-content .field-type-text-with-summary .field-item ol, .pane-page-content .field-type-text-with-summary .field-item ul,
.pane-page-content .field-type-text-long .field-item,
.pane-page-content .field-type-text-long .field-item p,
.pane-page-content .field-type-text-long .field-item ol,
.pane-page-content .field-type-text-long .field-item ul,
.pane-page-content .paragraphs-item-paragraph-snippet,
.pane-page-content .paragraphs-item-paragraph-snippet p,
.pane-page-content .paragraphs-item-paragraph-snippet ol,
.pane-page-content .paragraphs-item-paragraph-snippet ul,
.pane-page-content .paragraphs-item-paragraph-content,
.pane-page-content .paragraphs-item-paragraph-content p,
.pane-page-content .paragraphs-item-paragraph-content ol,
.pane-page-content .paragraphs-item-paragraph-content ul,
.pane-page-content .oa-event-description,
.pane-page-content .oa-event-description p,
.pane-page-content .oa-event-description ol,
.pane-page-content .oa-event-description ul,
.pane-page-content .oa-news-body,
.pane-page-content .oa-news-body p,
.pane-page-content .oa-news-body ol,
.pane-page-content .oa-news-body ul {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  color: #60616d;
  font-size: 18px;
}

.pane-page-content .field-type-text-with-summary .field-item h1, .pane-page-content .field-type-text-with-summary .field-item h2, .pane-page-content .field-type-text-with-summary .field-item h3, .pane-page-content .field-type-text-with-summary .field-item h4, .pane-page-content .field-type-text-with-summary .field-item h5,
.pane-page-content .field-type-text-long .field-item h1,
.pane-page-content .field-type-text-long .field-item h2,
.pane-page-content .field-type-text-long .field-item h3,
.pane-page-content .field-type-text-long .field-item h4,
.pane-page-content .field-type-text-long .field-item h5,
.pane-page-content .paragraphs-item-paragraph-snippet h1,
.pane-page-content .paragraphs-item-paragraph-snippet h2,
.pane-page-content .paragraphs-item-paragraph-snippet h3,
.pane-page-content .paragraphs-item-paragraph-snippet h4,
.pane-page-content .paragraphs-item-paragraph-snippet h5,
.pane-page-content .paragraphs-item-paragraph-content h1,
.pane-page-content .paragraphs-item-paragraph-content h2,
.pane-page-content .paragraphs-item-paragraph-content h3,
.pane-page-content .paragraphs-item-paragraph-content h4,
.pane-page-content .paragraphs-item-paragraph-content h5,
.pane-page-content .oa-event-description h1,
.pane-page-content .oa-event-description h2,
.pane-page-content .oa-event-description h3,
.pane-page-content .oa-event-description h4,
.pane-page-content .oa-event-description h5,
.pane-page-content .oa-news-body h1,
.pane-page-content .oa-news-body h2,
.pane-page-content .oa-news-body h3,
.pane-page-content .oa-news-body h4,
.pane-page-content .oa-news-body h5 {
  font-family: 'Open Sans', sans-serif;
}

.pane-page-content .paragraphs-item-paragraph-content {
  font-size: 14px;
}

.pane-page-content .entity-paragraphs-item {
  margin-bottom: 1em;
}

.pane-page-content .panel-panel-inner > .panel-pane.pane-node-field-oa-related {
  padding-top: 0;
}

.pane-page-content .pane-node-comments .oa-list .oa-comment-reply-body,
.pane-page-content .pane-content #comments .oa-list .oa-comment-reply-body,
.pane-page-content .oa-comment-reply-body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  color: #60616d;
  font-size: 15px;
  margin: 0 0 10px 0;
}

.pane-page-content .pane-node-comments .oa-list .oa-comment-reply-body p,
.pane-page-content .pane-content #comments .oa-list .oa-comment-reply-body p,
.pane-page-content .oa-comment-reply-body p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0 0 1em 0;
}

.pane-page-content .pane-node-comments .oa-list .oa-comment-reply-body .user-info, .pane-page-content .pane-node-comments .oa-list .oa-comment-reply-body .links,
.pane-page-content .pane-content #comments .oa-list .oa-comment-reply-body .user-info,
.pane-page-content .pane-content #comments .oa-list .oa-comment-reply-body .links,
.pane-page-content .oa-comment-reply-body .user-info,
.pane-page-content .oa-comment-reply-body .links {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 30px;
  letter-spacing: -.03em;
  margin: 10px 0 20px 0;
  color: #5a1c17;
  line-height: 1.1em;
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 0 0.8em 0;
  letter-spacing: .04em;
  font-weight: bold;
  background-image: none;
}

.oa-pane .pane-title {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 0 0.8em 0;
  padding: 0;
  letter-spacing: .04em;
  font-weight: bold;
  background-image: none;
}

.radix-layouts-sidebar h2, .radix-layouts-sidebar h3 {
  text-transform: uppercase;
  font-size: 16px;
  padding: 0;
  letter-spacing: .04em;
  font-weight: bold;
  background-image: none;
}

.radix-layouts-sidebar h3 {
  font-size: 14px;
  margin: 5px 0;
}

.radix-layouts-sidebar .pane-title {
  font-size: 16px;
  border-top: 1px solid #DADADC;
  margin: 0 -15px 0.8em;
  padding: 10px 15px 5px;
}

.radix-layouts-sidebar .field-type-text-with-summary .field-item p {
  font-size: 14px;
}

.radix-layouts-sidebar .group-content li {
  font-size: 14px;
}

h3 {
  font-weight: 800;
  font-size: 18px;
  margin: 0 0 1em 0;
}

.view-oa-team-list h3 a {
  color: #777;
  text-transform: uppercase;
  font-weight: normal;
}

h4 {
  text-transform: uppercase;
  font-size: 16px;
  margin: 0 0 1em 0;
  letter-spacing: .04em;
}

.entity-paragraphs-item .field-label-heading .field-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.radix-layouts-sidebar {
  color: #60616d;
  font-size: 15px;
}

.group-header {
  margin-top: 0;
}

.group-header h3, .group-header h4 {
  font-size: 12px;
  line-height: 1.1;
  color: #6D7074;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  border-top: 4px solid #EAEAEA;
  margin-bottom: 0;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
}

.view-content table > caption {
  font-size: 12px;
  line-height: 1.1;
  color: #6D7074;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 1.3em;
}

.oa-responsive-region .fa {
  margin-right: 0;
}

.more-link {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 15px;
}

/* BEGIN styles for views-view--directory.tpl.php */
#directory-list-nav {
  height: 90px;
  padding: 21px 0px;
  background-color: #f0f0f3;
  margin-left: 23px;
}

.ln-letters a {
  margin-right: -2px;
  float: left;
  font-size: 1.5em !important;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  border: 0px !important;
}

/* END styles for views-view--directory.tpl.php */
/* BEGIN styles for views-view-unformatted--directory.tpl.php */
.view-directory {
  margin-top: 25px;
}

.directory-item .views-row {
  padding: 20px 0px 20px 20px;
}

.directory-item .views-row-odd {
  background-color: #ffffff;
}

.directory-item .views-row-even {
  background-color: #f0f0f3;
}

/* END styles for views-view-unformatted--directory.tpl.php */
/* BEGIN styles for views-view-fields--directory.tpl.php */
.directory-item-content {
  font-size: 1.3em;
}

/* END styles for views-view-fields--directory.tpl.php */
.page-admin .pane-page-content {
  padding: 20px 20px;
  border-right: 1px solid #E4E3E6;
  border-bottom: 1px solid #E4E3E6;
}

.breadcrumb {
  margin-bottom: 10px;
}

#main-wrapper #main {
  margin: 0 0 30px 0;
}

#main-wrapper {
  overflow-x: hidden;
}

@media (min-width: 992px) {
  #main-wrapper.oa-layout-fluid {
    max-width: 95%;
  }
  #main-wrapper.oa-layout-fluid #main {
    width: auto;
  }
}

body.oa-home .pane-page-content .radix-layouts-content > .panel-panel-inner {
  background-color: transparent;
}

+
body #footer {
  margin: 0 -15px;
  font-size: 12px;
  line-height: 1.5;
  color: #CCC;
  background-color: #003853;
  border-top: 1px solid #e5e5e5;
}

body.oa-no-page-title #main-wrapper #main {
  padding: 40px 0;
}

.panel-display .oa-responsive-desktop.oa-responsive-region-left .btn {
  color: white;
}

.panel-display .oa-responsive-desktop.oa-responsive-region-left .btn:hover {
  color: #5bbd5b;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.panel-display .oa-responsive-desktop.oa-responsive-region-left .btn.btn-circle {
  width: 36px;
  height: 36px;
  margin-left: 2px;
  padding: 7px;
}

.oa-layout-sidebar1 {
  width: 42px;
  left: -50;
}

.navbar-tray {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.59);
}

.navbar .oa-responsive-regions-toggle-left {
  position: fixed;
  padding: 0 10px;
  left: 0;
  top: 16px;
}

.navbar .oa-responsive-regions-toggle-left.btn {
  color: #DDD;
  background: transparent;
  border-color: transparent;
  z-index: 1001;
}

.navbar .oa-responsive-regions-toggle-left.btn.btn-circle {
  width: 36px;
  height: 36px;
  padding: 3px;
  margin-left: 2px;
}

.navbar .oa-responsive-regions-toggle-left .fa {
  font-size: 2em;
  margin-right: 0;
}

@media (max-width: 767px) {
  .navbar .oa-responsive-regions-toggle-left {
    top: 8px;
  }
  .oa-layout-header {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  #main-wrapper {
    padding-top: 125px;
  }
}

body.oa-responsive-region-left-on .navbar .oa-navbar .oa-responsive-regions-toggle-left.btn.btn-circle:hover, body.oa-responsive-region-left-on .navbar .oa-navbar .oa-responsive-regions-toggle-left.btn.btn-circle:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background: transparent !important;
  border-color: gray;
}

#toolbar-menu-button.btn-circle {
  padding: 7px 10px;
}

.pane-oa-responsive-regions-mobile > .pane-content > .oa-responsive-regions-mobile .oa-navbar-inner {
  z-index: 1000 !important;
}

.beta-only {
  display: none;
}

.user-badge img {
  display: none;
}

.mystevens-icon-fluid-grid .views-field-uuid {
  position: relative;
}

.mystevens-icon-fluid-grid .portal-badge {
  position: absolute;
  top: 14px;
  font-size: 10px;
  font-weight: normal;
  background-color: rgba(163, 38, 56, 0.8);
  left: 56px;
  padding: 1px 6px 0px 6px;
  line-height: 1.5;
}

.view-display-id-panel_pane_1 .views-field-title,
.view-display-id-panel_pane_1 .views-field-field-icon,
.view-display-id-panel_pane_4 .views-field-title,
.view-display-id-panel_pane_4 .views-field-field-icon {
  text-align: center !important;
  font-size: 14px !important;
  padding-top: 5px !important;
}

.view-id-mystevens.view-display-id-panel_pane_3 .view-header {
  display: none;
}

.pane-title {
  border: 0px;
}

.oa-navigation .main-menu li a,
.oa-navigation .main-menu ul li a,
.oa-navbar .panel-panel .pane-oa-navigation li > a,
.oa-navbar .panel-panel .pane-oa-mobile li > a,
.oa-navbar .panel-panel .pane-oa-space-banner li > a,
.pane-oa-space-banner li > a {
  color: #A32638 !important;
}

#mystevens-section-body ul {
  margin: 0px 0px 10px 16px;
}

#cal ul {
  margin: 0px 0px 10px 16px;
}

.mystevens-services tr {
  width: 100%;
}

.mystevens-services td {
  width: 25%;
  height: 75px;
  border: 0px;
  border-color: #FFF;
  text-align: center;
  vertical-align: middle;
  padding-right: 20px;
  color: #990000;
}

.mystevens-services td a {
  color: #990000;
  text-decoration: none;
}

.mystevens-services td a:hover {
  color: #afafaf;
}

.mystevens-section-header {
  background-color: #A32638;
  font-size: 14px;
  height: 21px;
  color: #FFF;
  font-weight: bold;
  padding: 2px 0 6px 5px;
  margin: 0px 0px 0px 0px;
}

.view-mystevens .view-content,
.view-mystevens-orgsync-ugrad-events .view-content,
#cal,
.mystevens-section-body {
  border-color: #afafaf;
  padding: 5px 0px 0px 10px;
}

img.campus-service-icon {
  height: 26px;
  width: auto;
}

.mystevens-bar {
  clear: both;
  font-size: 1.1em;
  height: 10px;
  color: #FFF;
  margin: 0 0 0 0px;
  background: #3c883a !important;
  margin-bottom: 2px;
}

.mystevens-footer {
  clear: both;
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 0;
  line-height: 1.8em;
  width: 100%;
}

.pane-stevens-oa-header-user-old a:link,
.pane-stevens-oa-header-user-old a:visited,
.pane-stevens-oa-header-user-old a:active,
.pane-stevens-oa-header-user-old a:hover,
#welcome a:link,
#welcome a:visited,
#welcome a:active,
#welcome a:hover {
  color: #fff;
}

.view-mystevens .view-content,
.view-mystevens-orgsync-ugrad-events
.view-content, #cal,
.mystevens-section-body {
  border-color: #DBE7E2;
}

.mystevens-section-header {
  line-height: 21px;
  padding: 0 0 0 5px;
}

.content .panel-pane {
  padding-bottom: 0px;
  margin-bottom: 3px;
}

.mystevens-pane {
  padding-top: 20px;
}

@media (min-width: 992px) {
  .first-column-float-right .pane-page-content .panel-display > .container-fluid > .row > .panel-panel:first-child {
    float: right;
  }
}

@media (max-width: 767px) {
  .user-badge img {
    display: block;
  }
}

.mystevens-icon-fluid-grid .view-content {
  padding: 0;
}

.mystevens-icon-fluid-grid .view-content ul {
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
}

.mystevens-icon-fluid-grid .view-content li.views-row {
  display: inline-block;
  vertical-align: top;
  width: 90px;
  margin: 2% !important;
}

/* Portal (node 12441) & Beta Portal (node 24026)  specific styles */
body.page-node-12441 .pane-page-content .radix-layouts-sidebar,
body.page-node-24026 .pane-page-content .radix-layouts-sidebar {
  border-bottom: 2em solid #F0F0F3;
}

body.page-node-12441 .pane-page-content .radix-layouts-sidebar > .panel-panel-inner,
body.page-node-24026 .pane-page-content .radix-layouts-sidebar > .panel-panel-inner {
  background-color: white;
  border-right: 1px solid #E4E3E6;
  border-bottom: 1px solid #E4E3E6;
  padding-bottom: 10px;
}

body.page-node-12441 .pane-page-content .radix-layouts-sidebar > .panel-panel-inner h2, body.page-node-12441 .pane-page-content .radix-layouts-sidebar > .panel-panel-inner h3, body.page-node-12441 .pane-page-content .radix-layouts-sidebar > .panel-panel-inner h4, body.page-node-12441 .pane-page-content .radix-layouts-sidebar > .panel-panel-inner h5,
body.page-node-24026 .pane-page-content .radix-layouts-sidebar > .panel-panel-inner h2,
body.page-node-24026 .pane-page-content .radix-layouts-sidebar > .panel-panel-inner h3,
body.page-node-24026 .pane-page-content .radix-layouts-sidebar > .panel-panel-inner h4,
body.page-node-24026 .pane-page-content .radix-layouts-sidebar > .panel-panel-inner h5 {
  color: #a32638;
}

body.page-node-12441 .pane-page-content .radix-layouts-sidebar > .panel-panel-inner h2,
body.page-node-24026 .pane-page-content .radix-layouts-sidebar > .panel-panel-inner h2 {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.oa-reply-icon {
  display: inline;
}

.oa-reply-text {
  display: none;
}

#comments {
  margin-top: 0;
}

.oa-list.oa-comment .accordion-toggle {
  border-bottom: 1px solid #DDD;
  padding-bottom: 15px;
}

.oa-list.oa-comment .links {
  float: left;
  color: #a4a8ab;
  text-transform: uppercase;
  font-size: 11px;
  margin-left: -5px;
}

.oa-list.oa-comment .comment-label .oa-pullout-left {
  position: static;
  border: none;
  display: inline-block;
  padding: 3px 3px;
  background: #D6F5D6;
  margin-left: 5px;
  color: #a4a8ab;
  font-size: 10px;
  font-weight: normal;
  height: auto;
  min-width: 0;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  line-height: 1em;
}

.comment-label > a {
  display: inline-block;
  padding: 3px 3px;
  background: #D6F5D6;
  margin-left: 5px;
  color: #a4a8ab;
  font-size: 10px;
  font-weight: normal;
  height: auto;
  min-width: 0;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  line-height: 1em;
}

.pane-node-comments .oa-list .oa-comment-hide,
.pane-content #comments .oa-list .oa-comment-hide {
  height: 64px;
}

td.views-field-comment-count {
  position: relative;
  text-align: center;
}

td.views-field-comment-count span {
  z-index: 2;
  position: relative;
  display: inline-block;
  color: white;
  width: 2em;
  text-align: center;
  margin: 0 3px;
  font-size: 12px;
}

td.views-field-comment-count:after {
  content: "\f075";
  font-family: FontAwesome;
  position: absolute;
  z-index: 1;
  left: 50%;
  font-size: 25px;
  top: 1px;
  margin: 0 3px 0 -12px;
  color: rgba(64, 64, 64, 0.7);
}

.views-field-field-oa-worktracker-priority,
.views-field-comment-count,
.views-field-field-oa-worktracker-task-type,
.views-field-field-oa-worktracker-task-status {
  text-align: center;
}

.oa-list ol,
.field .field-item ol,
.field-content ol,
.mceContentBody ol {
  padding-left: 4rem;
}

#node-edit .form-actions input {
  background-color: white;
  color: #333;
  border-color: #C1C1C1;
}

form .form-actions {
  background-color: transparent;
}

form.search-form .form-item {
  margin-top: 0;
}

.field-widget-text-textarea-with-summary .format-toggle, .field-widget-text-textarea .format-toggle {
  position: static;
  width: 20rem;
  max-width: 100%;
}

.oa_toolbar .dropdown-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.oa_toolbar .dropdown-menu.oa-noscroll {
  overflow-x: visible;
  max-height: none;
}

.oa_toolbar .dropdown > a > i {
  pointer-events: none;
}

.oa-navbar .dropdown .dropdown-menu .oa-column {
  border-right: 1px solid #ECECF0;
}

.oa-navbar .dropdown .dropdown-menu .oa-column:last-child {
  border-right: none;
}

.navbar .oa-navbar {
  box-shadow: inset 0px -1px 0 0 rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .oa-navbar .pane-oa-toolbar-oa-breadcrumb ul.oa_toolbar li.btn-group > .btn,
.navbar .oa-navbar .pane-oa-space-nav ul.oa_toolbar li.btn-group > .btn {
  height: auto;
  padding-bottom: 4px;
}

.navbar .oa-navbar .panel-panel {
  margin: 0;
}

@media (max-width: 767px) {
  .navbar .oa-navbar {
    padding: 0;
  }
}

.pane-oa-space-menu {
  border-bottom: 1px solid #E7E7E7;
}

.pane-oa-edit-minipanel .pull-right .dropdown-menu {
  left: auto;
  right: 0;
}

.dropup ul.dropdown-menu {
  margin-bottom: 0;
}

.pane-oa-toolbar-search ul.dropdown-menu {
  margin-top: -2px;
}

ul.dropdown-menu .item-list h4 {
  text-shadow: none;
  background: none;
  padding: 3px 20px;
  line-height: 20px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

#oa-user-badge .dropdown-menu ul.oa-user-links {
  border-top: 1px solid #D1D1D4;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

@media (max-width: 767px) {
  .oa-navigation {
    width: 100%;
  }
  .oa-navigation nav {
    width: 100%;
  }
  .oa-navigation ul.menu {
    background: #555;
  }
  .oa-navigation ul.menu a > .caret {
    float: right;
    margin: 6px 12px;
    height: 12px;
    cursor: pointer;
  }
}

.oa-navbar ul.oa-space-nav ul.dropdown-menu ul li a.active {
  position: relative;
}

.oa-navbar ul.oa-space-nav ul.dropdown-menu ul li a.active:not(:hover) {
  background: transparent;
  color: #333;
}

.oa-navbar ul.oa-space-nav ul.dropdown-menu ul li a.active:before {
  content: "\f04b";
  font-family: FontAwesome;
  position: absolute;
  z-index: 1;
  left: 8px;
  font-style: normal;
  font-size: 0.9em;
  top: 0;
  padding: 3px 0;
}

.oa-navbar ul.oa-space-nav ul.dropdown-menu ul li.oa-sections a.active:before {
  content: " ";
}

.node-oa-worktracker-task h2.title.comment-form {
  margin-top: 1em;
}

.oa-event-date-month-wrapper {
  background: #40A03A;
}

body.node-type-seminar article .col-md-8 {
  margin-top: 20px;
}

body.node-type-seminar h1 {
  margin: 30px 0 0 14px;
  color: #9d1535;
  font-size: 2.8rem;
  line-height: 1.3em;
}

body.node-type-seminar .field {
  margin: 1.5em 0 0.2em;
}

body.node-type-seminar .field-label {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #9d1535;
  float: none;
}

body.node-type-seminar .field-label-above .field-colon {
  display: none;
}

body.node-type-seminar .field-items {
  float: none;
}

body.node-type-seminar .field.field-name-field-seminar-speaker-name .field-item {
  font-size: 2.2rem;
  color: #000000;
  margin-bottom: 0.075em;
}

body.node-type-seminar .field.field-name-field-subtitle {
  font-size: 2.2rem;
  margin: 10px 14px 0;
  color: #000;
}

body.node-type-seminar .field.field-name-field-seminar-speaker-credential .field-item {
  font-size: 1.7rem;
  color: #333333;
}

body.node-type-seminar .field-name-field-seminar-speaker-headshot img {
  margin-top: 1em;
  margin-bottom: 2em;
}

body.node-type-seminar .field-name-field-seminar-series .field-item {
  font-weight: bold;
  font-size: 1.5em;
}

body.node-type-seminar .event-details-bar {
  text-align: right;
}

body.node-type-seminar h2.event-details {
  color: #9d1535;
  margin: 1em 0;
  letter-spacing: 0;
  font-size: 2.2rem;
}

body.node-type-seminar article .col-md-8 {
  background-color: #ffffff;
}

.additional-nav-handle, .additional-nav-handle-closed {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  border-radius: 0;
  color: #9D1535;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0 50px 0 7px;
}

.additional-nav-handle {
  margin-bottom: 15px;
}

.additional-nav-handle-closed {
  display: none;
}

.content .radix-layouts-content .panel-pane {
  padding: 2em 0 0;
}

.pane-oa-footer-panel .radix-layouts-content {
  padding-top: 1em;
}

.tour .disabled {
  display: none;
}

.popover[class*="tour-"] .popover-navigation *[data-role=end] {
  margin-bottom: 10px;
}

.oa_visibility_toolbar ul {
  padding: 5px 10px;
}

.oa_visibility_toolbar i {
  vertical-align: middle;
}

.content .radix-layouts-content .inner-pane > .panel-pane,
body.panels-ipe .content .radix-layouts-content .panels-ipe-portlet-content > .panel-pane,
.content .radix-layouts-content .panel-pane.pane-views-panes {
  border-right: 1px solid #E4E3E6;
  margin-right: -20px;
  padding-right: 20px;
}

.content .radix-layouts-content .inner-pane > .panel-pane:after,
body.panels-ipe .content .radix-layouts-content .panels-ipe-portlet-content > .panel-pane:after,
.content .radix-layouts-content .panel-pane.pane-views-panes:after {
  content: " ";
  display: block;
  border-bottom: 2em solid #F0F0F3;
  margin: 2em -21px 0;
  border-top: 1px solid #E4E3E6;
}

@media (min-width: 992px) {
  .content .radix-layouts-content .inner-pane > .panel-pane,
  body.panels-ipe .content .radix-layouts-content .panels-ipe-portlet-content > .panel-pane,
  .content .radix-layouts-content .panel-pane.pane-views-panes {
    margin-right: -40px;
    padding-right: 40px;
  }
  .content .radix-layouts-content .inner-pane > .panel-pane:after,
  body.panels-ipe .content .radix-layouts-content .panels-ipe-portlet-content > .panel-pane:after,
  .content .radix-layouts-content .panel-pane.pane-views-panes:after {
    margin: 2em -41px 0;
  }
}

.oa-pane {
  border: none;
}

.pane-oa-toolbar-theme-panel {
  padding-top: 12px;
  height: 67px;
}

.oa-navbar .panel-panel .pane-oa-navigation {
  display: inline-block;
  width: auto;
  background: transparent !important;
  padding: 0 0 5px 10px;
  max-height: 80px;
}

.oa-navbar .panel-panel .pane-oa-navigation img.oa-site-banner-img {
  margin-right: 10px;
}

.oa-navbar .panel-panel .pane-oa-navigation .oa-menu-banner {
  margin-top: -5px;
}

.oa-navbar .panel-panel .pane-oa-navigation ul.menu > li .caret {
  margin-left: 4px;
}

.oa-navbar .panel-panel .pane-oa-navigation ul.menu > li .dropdown-menu {
  background-color: #FFF;
}

.oa-navbar .panel-panel .pane-oa-navigation ul.menu > li .dropdown-menu > li > a {
  color: #333;
}

.oa-navbar .panel-panel .pane-oa-navigation ul.menu > li .dropdown-menu > li > a:hover {
  color: white;
}

@media (max-width: 767px) {
  .oa-banner {
    display: block;
  }
}

.navbar .panel-panel ul.oa_toolbar.oa-space-nav h3 > a {
  font-weight: bold;
  padding: 3px 10px;
  margin: -3px -10px;
  display: block;
  font-size: 14px;
}

.navbar .panel-panel ul.oa_toolbar.oa-space-nav h3 > a:hover, .navbar .panel-panel ul.oa_toolbar.oa-space-nav h3 > a:active {
  text-decoration: none;
}

.navbar .panel-panel ul.oa_toolbar.oa-space-nav li.btn-group ul.dropdown-menu li.btn-group.oa-no-separator:after {
  display: none !important;
}

.navbar .panel-panel ul.oa_toolbar.oa-space-nav li.btn-group ul.dropdown-menu li.oa-hierarchy ul {
  margin-left: 10px;
}

.navbar .panel-panel ul.oa_toolbar.oa-space-nav li.btn-group ul.dropdown-menu li.oa-hierarchy h3 {
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 0;
  margin-top: 2px;
  font-style: italic;
  border: none;
}

body.oa-main-menu .navbar .panel-panel .pane-oa-space-nav {
  padding-left: 20px;
  border-left: 2px solid rgba(255, 255, 255, 0.3) !important;
}

@media (max-width: 767px) {
  body.oa-main-menu .navbar .panel-panel .pane-oa-space-nav {
    padding-left: 0;
    padding-top: 7px;
    border-left: none !important;
  }
}

.oa-navbar #oa-navbar-spaces .oa-space-nav {
  height: 36px;
  width: 100%;
}

.oa-navbar #oa-navbar-spaces .oa-space-nav > li:first-child > ul.dropdown-menu {
  display: block;
  top: 34px;
  width: 100%;
}

.oa-navbar #oa-navbar-spaces .oa-space-nav > li {
  width: auto;
  position: static;
}

.oa-navbar #oa-navbar-spaces .oa-space-nav .oa-separator {
  width: auto;
  border-left: 1px solid #76BF72;
  height: 24px;
  margin-top: 5px;
}

.pane-oa-separator {
  border-left: 2px solid rgba(255, 255, 255, 0.3) !important;
  padding-left: 15px;
  height: 42px;
}

.pane-oa-recent .flag-favorite-space > a {
  text-align: left;
  border: none;
  margin-top: 1em;
  font-family: serif;
  font-size: 13px;
}

.pane-oa-edit-minipanel .radix-layouts-sidebar {
  position: absolute;
  bottom: 0;
}

body.oa-home .pane-oa-edit-minipanel {
  display: none;
}

.btn.btn-circle {
  border-radius: 50% 50% 50% 50%;
  display: inline-block;
  padding: 8px;
}

.pane-oa-admin-minipanel .btn:hover {
  color: white !important;
  border-color: gray !important;
  background: #555 !important;
}

.pane-oa-edit-minipanel .pane-add-space-content .btn-circle {
  border-radius: 22px;
  padding-right: 15px;
}

.pane-oa-edit-minipanel .pane-add-space-content .btn-circle i {
  vertical-align: middle;
}

.pane-oa-edit-minipanel .btn {
  background-color: #2a2d37;
  opacity: .65;
  color: #FFF;
}

.pane-oa-edit-minipanel .btn.btn-primary {
  background-color: #49B544;
  opacity: 1;
}

.pane-oa-edit-minipanel .btn > i {
  font-size: 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.pane-oa-edit-minipanel .btn:hover {
  background-color: #FFF;
  opacity: .95;
  color: #2a2c37;
  border-color: #2a2d37;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.59);
}

body.oa-process-ipe #panels-ipe-control-container a.panels-ipe-startedit,
body.oa-process-ipe #panels-ipe-control-container a.panels-ipe-change-layout {
  display: none;
}

.pane-oa-event-detail-event-details .oa-event-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 2em;
  color: #60616d;
}

.pane-oa-event-detail-event-details .oa-event-header p {
  font-size: 14px;
  margin-bottom: 0 !important;
  font-family: 'Open Sans', sans-serif;
}

.pane-oa-event-detail-event-details .oa-event-description {
  clear: both;
}

.pane-oa-event-detail-event-details.panel-pane:after {
  display: none !important;
}

.pane-node-field-oa-related .addthisevent-drop {
  display: none;
}

.pane-node-field-oa-related .panel-pane:after {
  display: none !important;
}

.pane-node-field-oa-related .radix-layouts-sidebar {
  background: transparent !important;
}

.pane-node-field-oa-related .more-link {
  float: right;
}

.pane-node-field-oa-related .oa-callout {
  background-color: #F7F7F7;
  border-color: #C1C1C1;
}

.pane-oa-event-list-oa-events-upcoming-small .oa-event-date-wrapper {
  font-size: 10px;
}

.fullcalendar .fc-today {
  background-color: #CEF4CD;
}

.oa-navbar .toolbar-search form input {
  padding-right: 25px;
}

.oa-navbar .toolbar-search form .btn-group .btn.dropdown-toggle {
  position: absolute;
  left: -30px;
  background: transparent;
  border: none;
}

.oa-navbar .toolbar-search form .btn-group .btn.dropdown-toggle:hover .caret, .oa-navbar .toolbar-search form .btn-group .btn.dropdown-toggle:active .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}

.oa-navbar .toolbar-search form .btn-group ul.dropdown-menu {
  right: 40px;
  left: auto;
}

@media (max-width: 767px) {
  #oa-navbar-search .toolbar-search {
    width: calc(100% - 50px);
    text-align: right;
  }
  #oa-navbar-search .toolbar-search input.search-text {
    width: calc(100% - 46px);
  }
}

.pane-oa-notifications-pane .form-item-oa-notifications-notify-list-combined label,
.pane-node-form-oa-notifications .form-item-oa-notifications-notify-list-combined label {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}

.pane-oa-notifications-pane .form-item-oa-notifications-skip-notify,
.pane-node-form-oa-notifications .form-item-oa-notifications-skip-notify {
  font-size: 12px;
  color: #777;
}

.pane-oa-notifications-pane .flag-wrapper,
.pane-node-form-oa-notifications .flag-wrapper {
  margin-bottom: 1em;
}

.pane-oa-notifications-pane .flag-message,
.pane-node-form-oa-notifications .flag-message {
  font-size: 13px;
  font-style: italic;
}

.pane-oa-comment-media-commentnode-attachments .attachments {
  padding: 0;
  border-bottom: none;
}

.pane-oa-comment-media-commentnode-attachments .views-row {
  margin-bottom: 5px;
  padding: 10px;
  background: #F4F4F4;
  border: 1px solid #E6E6E8;
}

.pane-oa-comment-media-commentnode-attachments .views-row img {
  margin-right: 10px;
}

.pane-oa-comment-media-commentnode-attachments .views-row .user-info {
  font-size: 13px;
  margin-bottom: 0;
  font-style: italic;
}

.pane-oa-comment-media-commentnode-attachments .views-row .user-info a {
  font-weight: normal;
}

.pane-oa-comment-media-commentnode-attachments .views-row .comment-label > a {
  margin-left: 0;
}

.pane-oa-comment-media-commentnode-attachments .views-row .file-info {
  text-transform: uppercase;
}

.pane-oa-comment-media-commentnode-attachments .views-row .filename i {
  color: #40A13A;
}

.pane-oa-comment-media-commentnode-attachments .views-row .oa-media-document .oa-description {
  clear: both;
}

.oa-navbar .panel-panel .panel-pane {
  min-height: 45px;
}

.oa-navbar .pull-left #oa-user-badge {
  margin-right: 8px;
}

.oa-navbar .pull-right #oa-user-badge {
  margin-left: 8px;
}

.oa-layout-traytop {
  padding-left: 0;
  padding-right: 0;
}

.oa-layout-traytop .mystevens-pane,
.oa-layout-traytop .panel-pane {
  padding: 10px;
}

body.oa-responsive-left .oa-layout-traytop .oa-responsive-desktop.oa-responsive-region-top.oa-responsive-fixed {
  padding-left: 40px;
}

body.oa-responsive-region-left-on .oa-layout-traytop .oa-responsive-desktop.oa-responsive-region-top.oa-responsive-fixed {
  padding-left: 0;
  padding-right: 40px;
}

body.oa-responsive-left .oa-layout-traytop .panel-panel-inner {
  padding-right: 40px;
}

body.oa-responsive-region-left-on .oa-layout-traytop .panel-panel-inner {
  margin-right: -2px;
  padding-right: 0;
}

.panel-display .oa-responsive-desktop.oa-responsive-region-top {
  left: auto;
  right: auto;
}

.panel-display .oa-responsive-desktop.oa-responsive-region-top h1, .panel-display .oa-responsive-desktop.oa-responsive-region-top h2, .panel-display .oa-responsive-desktop.oa-responsive-region-top h3, .panel-display .oa-responsive-desktop.oa-responsive-region-top h4, .panel-display .oa-responsive-desktop.oa-responsive-region-top h5, .panel-display .oa-responsive-desktop.oa-responsive-region-top h6 {
  color: #a32638;
}

.panel-display .oa-responsive-desktop.oa-responsive-region-top a {
  color: #a32638;
}

.panel-display .oa-responsive-desktop.oa-responsive-region-top a:hover {
  color: #ff6060;
}

.pane-bundle-spotlight .panopoly-spotlight-buttons-wrapper ul {
  margin: 0;
}

.pane-bundle-spotlight .panopoly-spotlight-function-buttons a {
  text-decoration: none;
}

.advpoll-write-in .form-item {
  top: -6px;
}

.node-advpoll h2 a {
  color: #a32638;
}

/* Flexslider Carousel Styles */
.flexslider {
  margin: 0 0 30px;
}

.flexslider h2 {
  display: none;
}

.flexslider .slides {
  margin-bottom: -25px;
}

.flexslider .flex-control-nav {
  bottom: -35px;
  z-index: 1001;
}

.flexslider .flex-caption {
  position: relative;
  top: -31px;
  padding-left: 13px;
  padding-bottom: 6px;
  background-color: #FFF;
  display: inline-block;
  padding-right: 13px;
  padding-top: 6px;
  opacity: .75;
  margin-bottom: -26px;
  color: #222222;
  font-size: 18px;
  font-family: inherit;
  line-height: 19.8px;
  font-weight: 800;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}

.flexslider .flex-caption a {
  color: #222222;
  font-size: 18px;
  font-family: inherit;
  line-height: 19.8px;
  font-weight: 800;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  box-sizing: border-box;
  background-color: transparent;
}

.flex-direction-nav a {
  height: 50px;
}

/* Comment Panel Styles */
.comment-reply-post-button {
  bottom: 15px !important;
  margin-bottom: 24px;
}

/* Manage Bookmarks Pane Styles */
div#manage-bookmark-actions {
  margin-top: 4px;
  margin-right: 27px;
}

a#manage-bookmarks-edit {
  margin-left: 10px;
}

img.manage-bookmarks-action-img {
  width: 20px;
}

/* Manage WebForm Pane Styles */
.webform-component .webform-prefix-postfix-wrapper {
  display: inline-block;
  max-width: 100%;
}

.webform-component select {
  width: auto !important;
  max-width: 100%;
}

.webform-component label {
  display: block;
}

.webform-component .form-control {
  padding: 6px 6px;
  width: 32em;
  max-width: 100%;
}

.webform-container-inline input, .webform-container-inline select {
  display: inline-block;
}

.webform-container-inline label {
  display: inline;
}

.search-term-highlight {
  color: #A32638;
  font-style: italic;
  font-weight: bold;
}

.toolbar-search .dropdown-toggle {
  display: none;
}

.toolbar-search .dropdown-menu {
  display: none;
}

#people-finder-iframe {
  height: 500px;
  width: 100%;
}

body.page-search-site .panel-display #main .oa-horizontal-slice .pane-content .ui-tabs {
  top: 50px;
}

body.page-search-site .panel-display #main .oa-horizontal-slice .pane-content .ui-tabs .ui-tabs-panel .search-results .search-result a {
  color: #a32638;
}

body.page-search-site .panel-display #main .oa-horizontal-slice .pane-content .ui-tabs .ui-tabs-nav {
  border-bottom: 0px;
  position: relative;
  top: -39px;
  left: -5px;
}

body.page-search-site .panel-display #main .oa-horizontal-slice .pane-content .ui-tabs .ui-tabs-nav .ui-tabs-active a {
  height: 37px;
}

.table-bordered {
  border: 1px solid #e7e7e7 !important;
}

.table-bordered > tbody > tr > td {
  border: none;
  border-top: 1px solid #ddd;
}

.table > thead > tr > th,
.sticky-header > thead > tr > th {
  background: #e0e0e0;
  text-transform: uppercase;
  font-size: 13px;
}

.table > thead > tr > th.active {
  background: #e0e0e0;
}

.table-bordered > thead > tr > th,
.sticky-header > thead > tr > th {
  border-bottom: 2px solid #ddd;
  border: 3px solid white;
}

.table-bordered > thead > tr > th:first-child,
.sticky-header > thead > tr > th:first-child {
  border-left: none;
}

.table-bordered > thead > tr > th:last-child,
.sticky-header > thead > tr > th:last-child {
  border-right: none;
}

table td > div.form-type-checkbox,
table th > div.form-type-checkbox {
  text-align: center;
}

tr.even, tr.odd {
  border-bottom: none;
}

.pane-content {
  position: relative;
}

.oa-pane .pane-content {
  position: relative;
  padding: 0;
}

.oa-pane .pane-content .oa-list {
  margin: 0;
}

.oa-pane.inner-pane .panel-pane {
  padding-bottom: 1em;
}

/* try to target the main content region when inside a panel layout */
.pane-page-content .radix-layouts-content > .panel-panel-inner {
  padding: 0 20px 20px 20px;
  border-right: 1px solid #E4E3E6;
  border-bottom: 1px solid #E4E3E6;
}

.pane-page-content .radix-layouts-content .oa-pane.inner-pane .panel-pane {
  padding-bottom: 0;
  padding-top: 1.5em;
}

body.panels-ipe .pane-page-content .radix-layouts-content > .panel-panel-inner {
  border-right: none;
  border-bottom: none;
  padding: 0 20px;
}

@media (min-width: 992px) {
  .pane-page-content .radix-layouts-content > .panel-panel-inner {
    padding: 0 40px 20px 40px;
  }
  body.panels-ipe .pane-page-content .radix-layouts-content > .panel-panel-inner {
    padding: 0 40px;
  }
}

.oa-list.well {
  background: transparent;
  border: none;
}

.oa-list-header {
  padding-top: 0;
}

.group-content > li {
  border-top: 1px solid #EAEAEA;
  padding: 10px 0;
}

.radix-layouts-sidebar .group-content li {
  padding: 5px 0;
}

.oa-list-category {
  text-align: right;
  margin-left: 10px;
}

/* jQuery UI Tabs */
body .panel-display #main .oa-horizontal-slice .pane-content .ui-tabs .ui-tabs-nav .ui-tabs-active a {
  color: #a32638;
  background-color: #FFF;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

body .panel-display #main .oa-horizontal-slice .pane-content .ui-tabs .ui-tabs-nav li {
  border: 1px solid #d8d8d8;
  margin: 0 0 0 0;
  background: none;
  background-color: #f0f0f3;
}

body .panel-display #main .oa-horizontal-slice .pane-content .ui-tabs .ui-tabs-nav li .ui-tabs-anchor {
  color: #a32638;
  font-size: 16px;
  text-decoration: none;
  padding: 0px 10px;
  font-family: "Open Sans", sans-serif;
}

.user-info {
  font-size: 15px;
  color: #a4a8ab;
  margin-bottom: 10px;
}

.user-info a {
  color: #2a2c37;
  font-weight: bold;
}

.user-picture img,
.user-badge img {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 1px solid #eee;
}

.content .pane-user-field-user-picture img {
  border: 1px solid #ddd;
  padding-bottom: 0;
  margin-bottom: 15px;
  background: white;
}

.oa-list .pull-left img {
  margin-right: 0;
}

.btn-inverse.user-badge img {
  border: 1px solid transparent;
}

.view-oa-team-list .user-badge {
  background-color: transparent;
  border: none;
}

.view-oa-team-list .user-badge img {
  margin-right: 0;
}

.oa-comment .user-picture {
  margin-top: 14px;
}

.oa-comment .user-picture img {
  height: 40px;
  width: 40px;
}

.oa-list .user-picture img {
  max-height: 40px;
  max-width: 40px;
}

.indented {
  margin-left: 50px;
}

.all-events-btn {
  margin: 0;
  display: inline-block;
  padding: 0;
  margin-left: 10px;
  position: relative;
}

.all-events-btn span a {
  padding: 6px 12px;
  border-radius: inherit;
  color: #ffffff !important;
  background: #a32638 !important;
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857;
  text-decoration: none;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.all-events-btn span a:hover {
  color: #a32638 !important;
  background: #ffffff !important;
  text-decoration: underline;
}

.view-id-stevens_mystevens_events_by_channel.view-display-id-upcoming_events_small li {
  overflow: hidden;
  clear: both;
}

.view-content .item-list .views-field-field-feed-name {
  color: #aaaaaa;
  font-size: 0.85em;
}

.views-exposed-form .filter-btn {
  position: absolute;
  top: -40px;
  right: 0;
}

.oa-pane .views-exposed-form .filter-btn {
  top: -40px;
}

.pane-content .oa-river .oa-list-inner,
.pane-oa-recent-activity-section-activity .oa-list-inner {
  margin-left: 30px;
  padding-left: 5px;
}

.pane-content .oa-river .oa-list-header > span > a > strong,
.pane-oa-recent-activity-section-activity .oa-list-header > span > a > strong {
  font-weight: normal;
  font-size: 16px;
}

.pane-content .oa-river .oa-list-header > span > a:first-of-type,
.pane-oa-recent-activity-section-activity .oa-list-header > span > a:first-of-type {
  color: #2a2c37 !important;
  font-weight: bold;
}

.pane-open-atrium-news-oa-recent-news .pane-content {
  border-top: 4px solid #EAEAEA;
  padding-top: 20px;
}

.label .marker {
  color: white;
}

.label.mark-new {
  background-color: rgba(64, 161, 58, 0.7);
}

.label.mark-updated {
  background-color: rgba(150, 150, 0, 0.7);
}

.label.mark-unpublished {
  background-color: rgba(160, 0, 0, 0.7);
}

.oa-list.oa-discussion-topic .oa-list-header.oa-description {
  overflow: visible;
  text-align: right;
}

.oa-list.oa-discussion-topic h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.oa-list.oa-discussion-topic .user-info {
  font-size: inherit;
}

.oa-list.oa-discussion-topic .oa-date a {
  color: inherit;
}

.oa-list.oa-discussion-topic .oa-description {
  color: #777;
}

.oa-list.oa-discussion-topic .oa-reply-last {
  display: inline-block;
  text-align: right;
}

.oa-list.oa-discussion-topic .oa-reply-last > a {
  color: inherit;
}

.oa-list.oa-discussion-topic .oa-reply-icon {
  position: relative;
  display: inline-block;
}

.oa-list.oa-discussion-topic .oa-reply-icon .oa-reply-count {
  position: relative;
  display: inline-block;
  z-index: 2;
  color: white;
  width: 2em;
  text-align: center;
  margin: 0 3px;
}

.oa-list.oa-discussion-topic .oa-reply-icon .oa-reply-count a {
  color: inherit;
}

.oa-list.oa-discussion-topic .oa-reply-icon i {
  position: absolute;
  z-index: 1;
  left: 0;
  font-size: 25px;
  top: -0.1em;
  margin: 0 3px;
  color: rgba(64, 64, 64, 0.7);
}

.oa-list.oa-discussion-topic .oa-reply-icon.updated i {
  color: rgba(150, 150, 0, 0.7);
}

.oa-list.oa-discussion-topic .oa-reply-icon.new i {
  color: rgba(64, 161, 58, 0.7);
}

.oa-list.oa-news {
  border-bottom: 1px solid #CFCFCF;
  padding: 0 0 25px 0;
  margin-bottom: 30px;
}

.oa-list.oa-news .oa-edit-node {
  margin-left: 10px;
}

.oa-list.oa-news .oa-edit-node i {
  font-size: 18px;
  color: #a4a8ab;
}

.oa-list.oa-news .oa-edit-node a:hover {
  text-decoration: none;
  color: #333;
}

.oa-list.oa-news .oa-edit-node a > span {
  text-indent: -9999px;
  visibility: hidden;
}

.oa-list.oa-news p, .oa-list.oa-news ol, .oa-list.oa-news ul {
  font-size: 14px;
  margin-bottom: 1em;
}

.oa-list.oa-news .oa-news-body {
  margin-top: 0.8em;
}

.oa-list.oa-news .oa-news-header h3 {
  margin: 0 0 0.5em 0;
  font-size: 24px;
  font-weight: normal;
}

.oa-list.oa-news h4 {
  margin-bottom: 0.9em;
}

.oa-list.oa-news .more-link {
  float: right;
  font-size: 14px;
}

/*# sourceMappingURL=stevens_contempo.style.css.map */
