/* BEGIN styles for views-view--directory.tpl.php */
  #directory-list-nav {
    height: 90px;
    padding: 21px 0px;
    background-color: #f0f0f3;
    margin-left: 23px;
  }

  .ln-letters a {
    margin-right: -2px;
    float: left;
    font-size: 1.5em !important;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    border: 0px !important;
  }
/* END styles for views-view--directory.tpl.php */

/* BEGIN styles for views-view-unformatted--directory.tpl.php */
  .view-directory {
    margin-top: 25px;
  }

  .directory-item .views-row{
    padding: 20px 0px 20px 20px;
  }

  .directory-item .views-row-odd {
    background-color: #ffffff;
  }

  .directory-item .views-row-even {
    background-color: #f0f0f3;
  }
/* END styles for views-view-unformatted--directory.tpl.php */

/* BEGIN styles for views-view-fields--directory.tpl.php */
  .directory-item-content {
    font-size: 1.3em;
  }
/* END styles for views-view-fields--directory.tpl.php */
