.modal-content {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 10px;
  margin-top: 70px;
}
.modal-body {
  margin-bottom: 0px;
}

#feedback p {
  font-size: 3;
  color: #CF3535;
  align: justify;
}

#feedback-btn {
  padding: 0px 0px 0px 0px;
    text-align: center;
    margin-bottom: 140px;
    width: 80px;
    height: 25px;
  background:#a32638;
  z-index:15;
  border-radius: 5px 5px 0px 0px;
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  transform-origin: bottom right;
    position: fixed;
    right: 0px;
    bottom: 0px;
}

#feedback-btn p {
  color:#fff;
  display:inline-block;
  line-height:27px;
}

#feedback-btn:hover {
  cursor:pointer;
  background: rgba(163,38,56,0.8);
}

@media (max-width: 767px) {
  #feedback-btn {
    padding: 0px 0px 0px 0px;
    text-align: center;
    margin-bottom: 150px;
    width: 80px;
    height: 25px;
    background: rgba(163,38,56,0.4);
    z-index: 15;
    border-radius: 5px 5px 0px 0px;
    -webkit-transform:rotate(-90deg);
    transform-origin: bottom right;
    position: fixed;
    right: 0px;
    bottom: 0px;
  }
  #feedback-btn p {
    color:#330000;
    display:inline-block;
    line-height:27px;
  }

  #feedback-btn:hover {
   cursor:pointer;
   background: rgba(163,38,56,1);
  }
}

#thank-you, #db-error {
  display: none;
}

.form-horizontal .control-label{ 
  text-align: left;
}

.feedback-inline {
  display: inline-block;
}
