// Styles for Nodes
// --------------------------------------------------

.node-oa-worktracker-task {
  h2.title.comment-form {
    margin-top: 1em;
  }
}

.oa-event-date-month-wrapper {
  background: #40A03A;
}


// Styles for Seminar nodes

body.node-type-seminar {
  article .col-md-8 {
    margin-top: 20px;
  }
  h1 {
    margin: 30px 0 0 14px;
    color: #9d1535;
    font-size: 2.8rem;
    line-height: 1.3em;
  }
  .field {
    margin: 1.5em 0 0.2em;
  }
  .field-label {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #9d1535;
    float: none;
  }
  .field-label-above .field-colon {
    display: none;
  }
  .field-items {
    float: none;
  }
  .field.field-name-field-seminar-speaker-name .field-item {
    font-size: 2.2rem;
    color: #000000;
    margin-bottom: 0.075em;
  }
  .field.field-name-field-subtitle
  { 
    font-size:2.2rem; 
    margin:10px 14px 0; 
    color:#000;
  }
  .field.field-name-field-seminar-speaker-credential .field-item {
    font-size: 1.7rem;
    color: #333333;
  }
  .field-name-field-seminar-speaker-headshot img {
    margin-top: 1em;
    margin-bottom: 2em;
  }
  .field-name-field-seminar-series .field-item {
    font-weight:bold;
    font-size:1.5em;
  }
  .event-details-bar {
    text-align: right;
  }
  h2.event-details {
    color: #9d1535;
    margin: 1em 0;
    letter-spacing: 0;
    font-size: 2.2rem;
  }
  article .col-md-8 {
    background-color: #ffffff;
  }
}
