// Form
// Styles for forms
// --------------------------------------------------

div.panels-ipe-placeholder {
  h3 {
    width: 200px;
  }
}

div#panels-ipe-control-container {
  float: left;
  width: 50%;

  .panels-ipe-control {
    float: left;
  }
}
