// Page
// Styles for panels
// --------------------------------------------------



/**
* MyStevens Content Panel Styles
**/
@include font-face(
  "MontserratBold",
  inline-font-files(
    "../fonts/montserrat-bold-webfont.woff", woff,
    "../fonts/montserrat-bold-webfont.ttf", ttf,
    "../fonts/montserrat-bold-webfont.svg", svg),
  "../fonts/montserrat-bold-webfont.eot",
  normal,
  normal
);

@include font-face(
  "MontserratRegular",
  inline-font-files(
    "../fonts/montserrat-regular-webfont.woff", woff,
    "../fonts/montserrat-regular-webfont.ttf", ttf,
    "../fonts/montserrat-regular-webfont.svg", svg),
  "../fonts/montserrat-regular-webfont.eot",
  500
  );

body {
  a {
    text-decoration: underline;
  }
}

.mystevens-pane-title {
  background-color: $myRed;

  &.large-header {
    padding-top: 17px;
    margin-top: 0px;
    padding-bottom: 17px;

    h2 {
      color: $myWhite;
      font-family: "MontserratRegular";
      text-transform: uppercase;
      font-size: 1.25em;
      letter-spacing: 1px;
      line-height: 24px;
      margin: 0px;
      padding: 0px;

      a {
        color: $myWhite;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &.small-header {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;

    h2 {
      color: $myWhite;
      line-height: 24px;
      font-family: "MontserratRegular";
      text-transform: uppercase;
      font-size: 1em;
      letter-spacing: 1px;
      margin: 0px;
      padding: 0px;

      a {
        color: $myWhite;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@include breakpoint('md') {
  .mystevens-pane-content {
    font-size: 1em;
  }
}

@include breakpoint('lg') {
  .mystevens-pane-content {
    font-size: 1.1em;
  }
}

.mystevens-pane-content {
  font-family: "MontserratRegular";
  a {
    color: $myRed;
  }
}

.large-pane {
  padding: 50px 100px 40px 63px;
}

.small-pane {
  padding: 24px 31px 24px 31px;
}

.white-bg {
  background-color: $myWhite;
  color: $myBlack;
}

.gray-bg {
  background-color: $myGrayLight;
  color: $myBlack;
}
  
.black-bg {
  background-color: $myBlack;
  color: $myWhite;
}

$large-header-height: 59px;
.large-header {
  padding-left: 63px;
  padding-right: 63px;
  margin-bottom: 0px; 
  margin-top: -20px;
  height: auto;
} 

$small-header-height: 40px;
.small-header {
  padding-left: 39px;
  padding-right: 39px;
  margin-bottom: 0px; 
  height: auto;
}

.arrow-down {                          
  width: 0;                            
  height: 0;                           
  border-left: 31px solid transparent; 
  border-right: 31px solid transparent;
  float: right;                        
}                                      
                                       
.small-arrow {                         
  border-left: ($small-header-height / 2) solid transparent; 
  border-right: ($small-header-height / 2) solid transparent;
  border-top: ($small-header-height / 3) solid $myRed;       
  margin-right: 12%;                   
}                                      
                                       
.large-arrow {                         
  border-left: ($large-header-height / 2) solid transparent; 
  border-right: ($large-header-height / 2) solid transparent;
  border-top: ($large-header-height / 3) solid $myRed;       
  margin-right: 8%;                    
}                                      

/**
*  MyStevens Menu Styles
**/

.navbar-toggle {
  color: $myWhite;
  float: left;
}

#oa-navbar .panel-panel .pane-oa-navigation li,
#oa-navbar .panel-panel .pane-oa-mobile li,
#oa-navbar .panel-panel .pane-oa-space-banner li {

  &.level-3 {
    a {
      padding-left: 30px;
    }
  }
}

.mystevens-menu-pane {
  padding: 0px 0px 19px 0px;

  ul.menu {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px;

    li {
      padding: 0px;
      border-bottom: 1px solid $myGrayLight;
      margin-top: 0px;

      .active {
        color: $myGrayLight;
        background-color: $myGrayDark;
      }
      
      a,.nolink {
        padding-left: 39px;
        padding-top: 10px;
        padding-bottom: 11px;
        font-family: "MontserratRegular";
        font-size: .9em;
        color: $myGrayDark;
        text-transform: uppercase;
        text-decoration: none;
        display: block;

        &:hover {
            background-color: $myBlack;
            color: $myWhite;
        }
      }

      ul {

        li,
        .nolink {
          border-bottom: 1px solid $myGrayLight;
          padding-left: 26px;
          margin-left: 0px;
          margin-top: 0px;

          &:hover {
            background-color: $myBlack;
            border-bottom: 1px solid $myBlack;
            color: $myWhite;
          }
        }

        li.level-4 {
          border-left: 0px;
        }

        li.last {
          border-bottom: 0px;
        }
      }
    }
  }
}


/**
 * Colorizer backwards compatibility
 **/
  body, #main-wrapper {
    background-color: #FFFFFF !important;
  }
 
  .oa-buttons{
    background-color: #FFFFFF !important;
  
    &:hover {
      background-color: $myRed !important;
    }
  }

  .mystevens-pane-content.large-pane h2,
  .mystevens-pane-content.large-pane h3,
  .mystevens-pane-content.large-pane h4,
  .mystevens-pane-content.large-pane h5,
  .mystevens-pane-content.small-pane h2,
  .mystevens-pane-content.small-pane h3,
  .mystevens-pane-content.small-pane h4,
  .mystevens-pane-content.small-pane h5, {
    color: #000000 !important;
  }

/** 
  MyStevens Spotlight (Banner) Styles
**/

.panopoly-spotlight-widget-wrapper {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(170, 170, 170);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(170, 170, 170);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(170, 170, 170);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(170, 170, 170);
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    line-height: 22.2222px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    zoom: 1;
  
  .panopoly-spotlight-buttons-wrapper {
    opacity: 1;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    line-height: 22.2222px;
    opacity: 1;
    position: absolute;
    top: 86.5%;
    right: 6%;
    z-index: 1;
    zoom: 1;

    li.panopoly-spotlight-processed, {
        border: 1px solid $myGrayLight !important;
        background-color: $myGrayLight;
        margin: 0 0.275em 1px 0;
        opacity: 1;

        a {
          color: $myGrayDark;
          padding-bottom: 1px;
          padding-top: 1px;
        }

        &.active {
          border: 1px solid $myRed !important;
          background-color: $myRed;
          
          a {
            color: $myWhite;
            padding-bottom: 1px;
            padding-top: 1px;
          }
        }
    }

    div.panopoly-spotlight-function-buttons {
      margin-top: 5px;

      a.panopoly-spotlight-pause-play {
        border: 1px solid $myGrayLight !important;
        background-color: $myGrayLight;
        color: $myBlack;
        font-family: "MontserratRegular";
        opacity: 1;
        padding-bottom: 1px;
        padding-top: 1px;
      }
    }
  }

  .panopoly-spotlight {

    .panopoly-spotlight-wrapper
    {
          left: 0%;
          top: 29%;
          max-width: 40%;

          h3.panopoly-spotlight-label {
            margin: 0px;
            background-color: rgba(0, 0, 0, 0.50);
            opacity: 1;
            color: $myWhite;
            font-family: "MontserratRegular";
            text-transform: uppercase;
            letter-spacing: 2px;

            a {
              color: $myWhite;
              font-size: 1em;
              opacity: 1;
              text-decoration: none;

              &:hover {
                color: $myGrayLight;
                text-decoration: underline;
              }
            }
          }

          div.panopoly-spotlight-info {
            display: none;

            p {
                  font-size: 1.2em;
                  background-color: transparent;
                  font-style: italic;
                  letter-spacing: 1px;
            }
          }
    } 
  }
}

img.panopoly-image-spotlight {
   width: 100%;
}

@include breakpoint('xs') {

}

@include breakpoint('sm') {

}

@include breakpoint('md') {

  li.level-1,
  li.level-2 {
    div.menu-expandable {
      position: relative;
      background-image: url("../images/menu-collapsed.png");
      width: 30px;
      height: 24px;  
      left: 11px;
      top: -37px;
      background-size: 27px 31px;
      background-repeat: no-repeat;
      float: left;
    }

    div.menu-expanded {
      position: relative;
      background-image: url("../images/menu-collapsed.png");
      width: 30px;
      height: 24px;
      left: 4px;
      top: -37px;
      background-size: 31px 27px;
      background-repeat: no-repeat;
      float: left;
    }
  }

  li.level-3 {
    div.menu-expandable {
      position: relative;
      background-image: url("../images/menu-collapsed.png");
      width: 30px;
      height: 24px;  
      left: 37px;
      top: -37px;
      background-size: 27px 31px;
      background-repeat: no-repeat;
      float: left;
    }

    div.menu-expanded {
      position: relative;
      background-image: url("../images/menu-expanded.png");
      width: 30px;
      height: 24px;
      left: 30px;
      top: -40px;
      background-size: 31px 27px;
      background-repeat: no-repeat;
      float: left;
    }
  }

  li.level-4 {
    div.menu-expandable {
      position: relative;
      background-image: url("../images/menu-collapsed.png");
      width: 30px;
      height: 24px;  
      left: 16.5%;
      top: -37px;
      background-size: 27px 31px;
      background-repeat: no-repeat;
      float: left;
    }

    div.menu-expanded {
      position: relative;
      background-image: url("../images/menu-expanded.png");
      width: 30px;
      height: 24px;
      left: 15%;
      top: -37px;
      background-size: 31px 27px;
      background-repeat: no-repeat;
      float: left;
    }
  }

  .panopoly-spotlight {

    .panopoly-spotlight-wrapper
    {
      left: 0%;
      top: 27%;
      max-width: 40%;

      h3.panopoly-spotlight-label {
        padding-left: 34px;
        margin: 0px;
        font-size: 2.5em;
        letter-spacing: 2px;
        line-height: 40px;

        a {
          font-size: 1em;
        }
      }
    } 
  }
}

@include breakpoint('lg') {

  li.level-1,
  li.level-2 {
    div.menu-expandable {
      position: relative;
      background-image: url("../images/menu-collapsed.png");
      width: 30px;
      height: 24px;
      left: 11px;
      top: -40px;
      background-size: 30px 34px;
      background-repeat: no-repeat;
      float: left;
    }

    div.menu-expanded {
      position: relative;
      background-image: url("../images/menu-expanded.png");
      width: 30px;
      height: 24px;
      left: 4px;
      top: -37px;
      background-size: 34px 30px;
      background-repeat: no-repeat;
      float: left;
    }
  }

  li.level-3 {
    div.menu-expandable {
      position: relative;
      background-image: url("../images/menu-collapsed.png");
      width: 30px;
      height: 24px;
      left: 37px;
      top: -37px;
      background-size: 30px 34px;
      background-repeat: no-repeat;
      float: left;
    }

    div.menu-expanded {
      position: relative;
      background-image: url("../images/menu-expanded.png");
      width: 30px;
      height: 24px;
      left: 30px;
      top: -40px;
      background-size: 34px 30px;
      background-repeat: no-repeat;
      float: left;
    }
  }

  li.level-4 {
    div.menu-expandable {
      position: relative;
      background-image: url("../images/menu-collapsed.png");
      width: 30px;
      height: 24px;
      left: 13%;
      top: -37px;
      background-size: 30px 34px;
      background-repeat: no-repeat;
      float: left;
    }

    div.menu-expanded {
      position: relative;
      background-image: url("../images/menu-expanded.png");
      width: 30px;
      height: 24px;
      left: 12.5%;
      top: -37px;
      background-size: 34px 30px;
      background-repeat: no-repeat;
      float: left;
    }
  }


  .panopoly-spotlight {
    padding-bottom: 21px;

    .panopoly-spotlight-wrapper
    {
      left: 0%;
      top: 29%;
      max-width: 40%;

      h3.panopoly-spotlight-label {
        padding-left: 68px;
        margin: 0px;
        font-size: 4.5em;
        letter-spacing: 2px;
        line-height: 75px;

        a {
          font-size: 1em;
        }
      }
    } 
  }
}

/**
* MyStevens Webform Pane Styles
*/
.mystevens-pane-content {
  .node-webform {
    h2 {
      display: none;
    }

    .form-actions {
      background-color: inherit;
      float: right;
    }
  }
}
