.user-badge img {
  display: none;
}

.mystevens-icon-fluid-grid .views-field-uuid {
  position: relative;
}

.mystevens-icon-fluid-grid .portal-badge {
    position: absolute;
    top: 14px;
    font-size: 10px;
    font-weight: normal;
    background-color: rgba(163,38,56,0.8);
    left: 56px;
    padding: 1px 6px 0px 6px;
    line-height: 1.5;
}

.view-display-id-panel_pane_1 .views-field-title,
.view-display-id-panel_pane_1 .views-field-field-icon,
.view-display-id-panel_pane_4 .views-field-title,
.view-display-id-panel_pane_4 .views-field-field-icon {
  text-align: center !important;
  font-size: 14px !important;
  padding-top: 5px !important;
}

.view-id-mystevens.view-display-id-panel_pane_3 {
  .view-header {  
    display: none;
  }
}

.pane-title {
  border: 0px;
}

.oa-navigation .main-menu li a,
.oa-navigation .main-menu ul li a,
.oa-navbar .panel-panel .pane-oa-navigation li > a,
.oa-navbar .panel-panel .pane-oa-mobile li > a,
.oa-navbar .panel-panel .pane-oa-space-banner li > a,
.pane-oa-space-banner li > a {
  color: #A32638 !important;
}

#mystevens-section-body ul {
  margin: 0px 0px 10px 16px;
}

#cal ul {
  margin: 0px 0px 10px 16px;
}

.mystevens-services tr{
  width: 100%;
}

.mystevens-services td{
  width: 25%;
  height:75px;
  border: 0px;
  border-color: #FFF;
  text-align: center;
  vertical-align: middle;
  padding-right: 20px;
  color: #990000;
}

.mystevens-services td a{
  color: #990000;
    text-decoration: none;
}

.mystevens-services td a:hover{
  color: #afafaf;
}

.mystevens-section-header{
  background-color: #A32638;
  font-size: 14px;
  height: 21px;
  color: #FFF;
  font-weight: bold;
  padding: 2px 0 6px 5px;
  margin: 0px 0px 0px 0px;
}

.view-mystevens .view-content,
.view-mystevens-orgsync-ugrad-events .view-content,
#cal,
.mystevens-section-body {
  border-color: #afafaf;
  padding: 5px 0px 0px 10px;
}

img.campus-service-icon {
  height: 26px;
  width: auto;
}

.mystevens-bar {
    clear: both;
    font-size: 1.1em;
    height: 10px;
    color: #FFF;
    margin: 0 0 0 0px;
    background: #3c883a !important;
    margin-bottom: 2px;
}

.mystevens-footer {
    clear: both;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
    line-height: 1.8em;
    width: 100%;
}
.pane-stevens-oa-header-user-old a:link,
.pane-stevens-oa-header-user-old a:visited,
.pane-stevens-oa-header-user-old a:active,
.pane-stevens-oa-header-user-old a:hover,
#welcome a:link,
#welcome a:visited,
#welcome a:active,
#welcome a:hover {
  color: #fff;
}


.view-mystevens .view-content,
.view-mystevens-orgsync-ugrad-events
.view-content, #cal,
.mystevens-section-body {
  border-color: #DBE7E2
}

.mystevens-section-header {
  line-height: 21px;
  padding: 0 0 0 5px;
}

.content .panel-pane {
  padding-bottom: 0px;
  margin-bottom: 3px;
}

.mystevens-pane {
  padding-top: 20px;
}

@media (min-width: $screen-md) {
  .first-column-float-right .pane-page-content .panel-display > .container-fluid > .row > .panel-panel:first-child {
    float: right;
  }
}

@include breakpoint('xs') {
  .user-badge img {
    display: block;
  }
}

.mystevens-icon-fluid-grid {
  .view-content {
    padding: 0;

    ul {
      margin: 0 !important;
      padding: 0 !important;
      text-align: center;
    }

    li.views-row {
      display: inline-block;
      vertical-align: top;
      width: 90px;
      margin: 2% !important;
    }
  }
}

/* Portal (node 12441) & Beta Portal (node 24026)  specific styles */

body.page-node-12441,
body.page-node-24026 {
  .pane-page-content .radix-layouts-sidebar {
    > .panel-panel-inner {
      background-color: white;
      border-right: 1px solid #E4E3E6;
      border-bottom: 1px solid #E4E3E6;
      padding-bottom: 10px;

      h2, h3, h4, h5 {
        color: $myRed;
      }

      h2 {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    border-bottom: 2em solid #F0F0F3;
  }
}
