//
// Layout
// Styles for main layout
// --------------------------------------------------

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .calendar-calendar, .view .row > .list-group, .col-lg-12 {
  padding-left: 0px;
  padding-right: 0px;
}

#page-title {
  display: none;
}

button.navbar-toggle {
  margin-left: 15px;
  &.search,
  &.spaces,
  &.user {
    display: none;
  }
}

@include breakpoint('xs') {
  .mystevens-logo-cont {
    left: 20px;
    top: 23px;

    .mystevens-logo-img {
      width:467px;
    }
  }

  .mystevens-header-links-cont {
    display: none;
  }

  .stevens-ctp-menu {
    display: none;
  }

  .pane-oa-navigation {
    display: none;
  }
}

@include breakpoint('sm') {
  .mystevens-header-links-cont {
    display: none;
  }
  
  .mystevens-logo-cont {
    left: 23px;
    top: 23px;
      
    .mystevens-logo-img {
      width:482px;
    }
  }

  .stevens-ctp-menu {
    display: none;
  }

  .oa-navigation {
    background-color: $myGrayLight;
    width: 100%;

    .nav {
      padding: 0;
      margin: 0;
    }
  }

  .pane-oa-navigation {
    display: block !important;
  }
}

@include breakpoint('md') {
  .col-md-4 {
    width: 33.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .oa-navigation {
    background-color: $myGrayLight;
    width: 100%;

    .nav {
      padding: 0;
      margin: 0;
    }
  }

  .pane-oa-navigation {
    display: none !important;
  }

  .stevens-ctp-menu {
    display: block;
  }

  .mystevens-logo-cont {
    left: 23px;
    top: 23px;
   
    .mystevens-logo-img {
      width: 482px;
    }
  }

  .mystevens-header-links-cont {
    display: block;
  }
}

@include breakpoint('lg') {
  .col-md-4 {
    width: 25%;
  }

  .col-md-8 {
    width: 75%;
  }

  .mystevens-header-links-cont {
    display: block;
  }
}

.pane-oa-navigation {
  display: none;
}

.oa-navigation {
  background-color: $myGrayLight;
  width: 100%;

  .main-menu {
    width: 100%;
  }

  .nav {
    padding: 0;
    margin: 0;
  }
}

body {
  #main-wrapper {
    margin: 0px;
    
    #main {
      padding: 0px;

      .container-fluid,
      #content {
        .row {
          margin-left: 0px;
          margin-right: 0px;
        
          //Gutter
          .panel-panel {
            background: none;
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }
    }
  }
}

.mystevens-header {
  width: 100%;
  height: 126px;

  .mystevens-logo-cont {
    float: left;
    position: relative;
  }

  .mystevens-header-links-cont {
    float: right;
    position: relative;
    top: 95px;
    left: -80px;

    ul {
      margin: 0px;
      padding: 0px;

      li.header-link-cont {
        float: left;
        padding: 0px;

        a.header-link {
          color: $myWhite;
          font-family: "MontserratRegular";
          font-size: .85em;
          letter-spacing: .75px;
          text-decoration: none;

          &:hover {
            color: $myGrayLight;
            text-decoration: underline;
          }
        }
      }

      li.header-link-spacer {
        float: left;
        padding: 0px 18px;
        font-family: "MontserratBold";

      }
    }
  }
}

#oa-navbar {
  background-image: url("../images/header-eas.png");
  background-size: cover;
  background-position: center;  
  position: relative;
  z-index: 1000;

  .navbar-inner {
    width: 100%;
    padding: 0;
    margin: 0;
    background: none;
  }

  .panel-panel {
    background: none;
    padding-left: 0px;
    padding-right: 0px;
    
    .pane-oa-toolbar-oa-breadcrumb {
      margin-bottom: 0px;
    }

    .pane-oa-mobile {
      background: none;
    }
    .panel-pane {
      padding-left: 0px;
      padding: 0px;
    }
  }
}


//Editor/Admin Styles

#contextual-tabs {
  margin-top: 0px !important;
}

#page-title {
  font-size: 1em;
}

.container {
  width: 100%;
}

.oa-pane {
  .pane-content {
  }
}

#panels-dnd-main {
  margin: .05em 2.25em;
}


/** Node Edit Overrides **/
#modalContent {
  z-index: 1100;
}

/**
*
* Footer Styles
*
*/

#footer-wrapper {
  background-color: $myWhite;
}

body {

  #footer {
    margin: 58px 0 0 0;
    border-top: 0px;

    .container {
      min-height: 0px;
      padding: 13px 0;
      background-color: $myWhite;
      color: $myBlack;
    }
  }
}
